.nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}
.nav1 i{
    padding: 20px;
    font-size: 30px;
    color: green;
    border: 1px solid green;
    box-shadow: 2px 4px 4px white;
    text-shadow: 2px 2px white;
}

.nav1 a{
    text-decoration: none;
    color: white;
    padding: 0px 15px;
    font-size: 30px;
    text-transform: uppercase;
}
.nav1 .btn1{
    font-size: 25px;
    width: 10px 80px;
    color: black;
    background-color: green;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}
body{
    background-image: url('/images/bg.jpg');
}
.mycontainer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 200px 200px;
      
}
.mycontainer1 h1{
    font-size: 50px;
}
.mycontainer1 p{
    font-size: 30px;
}
.mycontainer1 .button{
    background-color: green;
    width: 20%;
    border-radius: 10px;
    font-size: 25px;
    padding: 10px 20px;
    margin: 10px 0px;
}
.mycontainer1 .button a{
    text-decoration: none;
    color: white;
    cursor: pointer;

}
.mycontainer1 .button:hover{
    text-decoration: underline;
    background-color: rgb(46, 176, 46);
}
